<!doctype html>
<html>

<head>
    <title>Modal dialog</title>

    <link rel="stylesheet" href="css/main.css" />
</head>

<body ng-app="app" ng-init="modalShown=false">
    <div ng-controller="MyCtrl">
        <button ng-click="toggleModal()">Open Modal Dialog</button>
        <modal-dialog title="Hello dialog" show="modalShown" width="400px" height="60%">
            <p>Modal Content Goes here<p>
        </modal-dialog>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>



