<!doctype html>
<html>

<head>
    <title>Directive To Directive Commonication</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.2/css/foundation.min.css" rel="stylesheet">
</head>

<body>
    <div ng-app="drinkApp">
        <div ng-controller="AppCtrl">
            <input type="text" ng-model="ctrlFlavor">
            <div drink flavor="{{ ctrlFlavor }}"></div>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script type="text/javascript" src="script.js"></script>
</body>

</html>



