<!DOCTYPE html>
<html ng-app="coolApp">

<head>
    <title>1 Setup</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
    <script src="setup.js"></script>
</head>

<body>
    <p ng-controller="PersonCtrl as person">
        Hi, {{person.model.name}}
    </p>
</body>

</html>