<html ng-app="FilterInControllerModule">
<head>
  <title>6 Scope inheritance</title>
  <script src='../angular.js'></script>
  <script src='controllers.js'></script>
</head>
<body>
    <div ng-controller="FilterController as ctrl">
      <div>
        All entries:
        <span ng-repeat="entry in ctrl.array">{{entry.name}} </span>
      </div>
      <div>
        Entries that contain an "a":
        <span ng-repeat="entry in ctrl.filteredArray">{{entry.name}} </span>
      </div>
    </div>
  </body>
</html>