<!doctype html>
<html lang="en" ng-app="myApp">

<head>
	<title>Shopping Cart - scope $watch</title>	
</head>

<body>
	<div ng-controller="CartController">
		<div ng-repeat="item in items">
			<span>{{item.title}}</span>
			<input ng-model="item.quantity">
			<span>{{item.price | currency}}</span>
			<span>{{item.price * item.quantity | currency}}</span>
		</div>
		<div>Total: {{totalCart() | currency}}</div>
		<div>Discount: {{discount | currency}}</div>
		<div>Subtotal: {{subtotal() | currency}}</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
	<script src="scrips.js"></script>
</body>

</html>