<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>File upload</title>

    <link rel="stylesheet" href="css/main.css" />
</head>

<body ng-app="myApp">

    <div ng-controller="MyCtrl">
        <input type="text" ng-model="myModelObj">
        <input type="file" ng-file-select="onFileSelect($files)">
        <input type="file" ng-file-select="onFileSelect($files)" multiple>
        <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class" ng-show="dropSupported">drop files here</div>
        <div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
        <button ng-click="upload.abort()">Cancel Upload</button>
    </div>

    <script src="js/angular-file-upload-shim.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="js/angular-file-upload.min.js"></script>
    <script src="js/main.js"></script>

</body>

</html>