<!doctype html>
<html ng-app="coolApp">

<head>
    <title>5 Using $scope</title>
    
    <link rel="stylesheet" href="scope.css" />
</head>

<body>

    <p ng-controller="GreetCtrl">
        {{greeter.greeting}}
        <input ng-model="greeter.greeting">
    </p>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="scope.js"></script>
</body>

</html>