<html>

<head>
    <title>Scope events</title>
    <script src='../angular.js'></script>

</head>

<body ng-app='coolApp'>
    <div ng-controller="EventController">
        Root scope
        <tt>MyEvent</tt>count: {{count}}
        <ul>
            <li ng-repeat="i in [1]" ng-controller="EventController">
                <button ng-click="$emit('MyEvent')">$emit('MyEvent')</button>
                <button ng-click="$broadcast('MyEvent')">$broadcast('MyEvent')</button>
                <br>Middle scope
                <tt>MyEvent</tt>count: {{count}}
                <ul>
                    <li ng-repeat="item in [1, 2]" ng-controller="EventController">
                        Leaf scope
                        <tt>MyEvent</tt>count: {{count}}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    
    <p style="border: 1px solid black;">
        <h4>References</h4>
        <ul>
            <li><a href="https://docs.angularjs.org/api/ng/type/$rootScope.Scope#$broadcast">Event Broadcast</a></li>
            <li><a href="https://docs.angularjs.org/api/ng/type/$rootScope.Scope#$emit">Event emit</a></li>
            <li><a href="https://docs.angularjs.org/api/ng/type/$rootScope.Scope#$on">Event Listeners</a></li>
        </ul>        
    </p>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="controllers.js"></script>

</body>

</html>