<html>
<head>
  <title>6 Scope inheritance</title>
  <script src='../angular.js'></script>
  <script src='controllers.js'></script>
</head>
<body ng-app='coolApp'>
 <div>
  <div ng-controller="FirstCtrl">
    <input type="text" ng-model="data.message">
    <h1>{{ data.message }}</h1>
  </div>
  <div ng-controller="SecondCtrl">
    <input type="text" ng-model="data.message">
    <h1>{{ data.message | reverse }}</h1>
  </div>
</div>
</body>
</html>