<!doctype html>
<html>

<head>
	<title>ngFilters</title>
</head>

<body>

	<div class="container" ng-app="myApp">
		<h1>Built-in Filters</h1>
		<hr>

		<div ng-controller="AvengersCtrl">
			<p>Search thru the table:</p>
			<input type="text" ng-model="search.$">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Actor</th>
						<th>Character</th>
					</tr>
				</thead>
				<tr ng-repeat="actor in avengers.cast | orderBy:'name' | filter:search | limitTo:5">
					<td>{{actor.name | lowercase}}</td>
					<td>{{actor.character | uppercase}}</td>
				</tr>
			</table>

		</div>

	</div>


	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<script type="text/javascript" src="controllers.js"></script>
</body>

</html>