<!doctype html>
<html ng-app>

<head>
	<title>Angular Form Control State</title>
</head>

<body>
	<div ng-controller="Controller">
		<form name="form" class="css-form" novalidate>
			Name:
			<input type="text" ng-model="user.name" name="uName" required />
			<br />E-mail:
			<input type="email" ng-model="user.email" name="uEmail" required/>
			<br />
			<div ng-show="form.uEmail.$dirty && form.uEmail.$invalid">Invalid:
				<span ng-show="form.uEmail.$error.required">Tell us your email.</span>
				<span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
			</div>

			Gender:
			<input type="radio" ng-model="user.gender" value="male" />male
			<input type="radio" ng-model="user.gender" value="female" />female
			<br />

			<input type="checkbox" ng-model="user.agree" name="userAgree" required />I agree:
			<input ng-show="user.agree" type="text" ng-model="user.agreeSign" required />
			<br />
			<div ng-show="!user.agree || !user.agreeSign">Please agree and sign.</div>

			<button ng-click="reset()" ng-disabled="isUnchanged(user)">RESET</button>
			<button ng-click="update(user)" ng-disabled="form.$invalid || isUnchanged(user)">SAVE</button>
		</form>
	</div>

	<script src="http://code.angularjs.org/1.2.19/angular.min.js"></script>
	<script src="script.js"></script>
</body>

</html>