<div>
    Number: {{number}} Network:
    <select ng-model="network" ng-options="net for net in networks"></select>
</div>
<input type="text" ng-model="value">
<div class="button" ng-click="makeCall({message: value, number: number})">
    Call Home!
</div>