<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Example - example-example89-production</title>
</head>

<body ng-app="docsIsoFnBindExample">
    <div ng-controller="Controller">
        <my-dialog ng-hide="dialogIsHidden" on-close="hideDialog()">
            Check out the contents, {{name}}!
        </my-dialog>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="script.js"></script>

</body>

</html>