<html>
<head>
	<title>Angular UI modal panel</title>
	 <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-app='app' class="container">
	<div ng-controller="ModalDemoCtrl" class="jumbotron">		
		<button class="btn btn-default" ng-click="open()">Open me!</button>
		<button class="btn btn-default" ng-click="open('lg')">Large modal</button>
		<button class="btn btn-default" ng-click="open('sm')">Small modal</button>
		<div ng-show="selected">Selection from a modal: {{ selected }}</div>
	</div>
	<script src="https://code.jquery.com/jquery-2.1.3.min.js" ></script>
	<script src="https://code.angularjs.org/1.3.14/angular.min.js"></script>
	<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
	<script src="script.js"></script>
</body>

</html>