<!doctype html>
<html ng-app>

<head>
	<script src="http://code.angularjs.org/1.2.4/angular.min.js"></script>
	<link href="css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
	<div ng-init="qty=1;cost=2" class="well">
		<b>Invoice:</b>
		<div>
			Quantity:
			<input type="number" ng-model="qty" required>
		</div>
		<div>
			Costs:
			<input type="number" ng-model="cost" required>
		</div>
		<div>
			<b>Total:</b>{{qty * cost | currency}}
		</div>
	</div>
</body>

</html>