<!doctype html>
<html ng-app="etsyApp">

<head>
	<meta charset="UTF-8">
	<title>Etsy</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-sanitize.min.js"></script>
	<script src="etsy-client.js"></script>
	<link href="css/default.css" rel="stylesheet" type="text/css" title="Default Style" />
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>

<body ng-controller="ItemsCtrl as itemCtrl">
	<div class="container" style="with: 90%;">
		<div class="jumbotron">
			<h1>Etsy client</h1>
		</div>	
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Title</th>
					<th>Description</th>
				</tr>
			</thead>
			<tr ng-repeat="item in items">
				<td ng-bind="item.title"></td>
				<td ng-bind-html="item.description"></td>
			</tr>
		</table>
	</div>
</body>

</html>