<!doctype html>
<html ng-app="myApp">

<head>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.3/css/foundation.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>

<body>
	<form name="signup_form" novalidate ng-submit="signupForm()">
		<fieldset>
			<legend>Signup</legend>
			<div class="row">
				<div class="large-12 columns">
					<label>Your name</label>
					<input type="text" placeholder="Insert the name ..." name="name" ng-model="signup.name" ng-minlength="3" ng-maxlength="20" required />
					<div class="error" ng-show="signup_form.name.$dirty && signup_form.name.$invalid">
						<small class="error" ng-show="signup_form.name.$error.required">
        Your name is required.
    </small>
						<small class="error" ng-show="signup_form.name.$error.minlength">
            Your name is required to be at least 3 characters
    </small>
						<small class="error" ng-show="signup_form.name.$error.maxlength">
            Your name cannot be longer than 20 characters
    </small>
					</div>
				</div>
			</div>

			<button type="submit" class="button radius">Submit</button>
		</fieldset>
	</form>

	<script src="http://code.angularjs.org/1.2.17/angular.min.js"></script>
	<script src="script.js"></script>

</body>

</html>