<!DOCTYPE html>
<html>

<head>
    <title>Controller Alternative Approach</title>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.3/css/foundation.min.css">
</head>

<body>
    <div ng-app="app" ng-controller="RoomCtrl as room">
        <div class="button" ng-click="room.openDoor()">
            {{room.buttonTitle}}
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="main.js"></script>

</body>

</html>