<!doctype html>
<html ng-app="etsyApp">

<head>
	<meta charset="UTF-8">
	<title>Etsy</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-sanitize.min.js"></script>
	<script src="etsy-client.js"></script>
	<link href="css/default.css" rel="stylesheet" type="text/css" title="Default Style" />
</head>

<body ng-controller="ItemsCtrl as itemCtrl">
	<div ng-repeat="item in items" class="{{$index % 2 == 0 ? 'even' : 'odd'}}">
		<div ng-bind="item.title"></div>
		<div ng-bind-html="item.description"></div>
	</div>
</body>

</html>