<!DOCTYPE html>
<html ng-app="phoneApp">

<head>
    <title>Controller Alternative Approach</title>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.3/css/foundation.min.css">
</head>

<body>
    <div>
        <div ng-controller="AppCtrl">
            <div class="button" ng-click="AppCtrl.sayHi()">Click me!</div>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="main.js"></script>

</body>

</html>