<!DOCTYPE html>
<html ng-app="coolApp">

<head>
    <title>2 Hello AngularJS</title>   
</head>

<body>
    <p ng-controller="GreetController as greeter">
    	<input ng-model="greeter.greeting">
    	<br/>
        {{greeter.greeting}}        
    </p>
    
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
     <script src="hello.js"></script>
        
</body>

</html>