<!DOCTYPE html>
<html ng-app="coolApp">

<head>
    <title>3 Shopping Cart</title>
    <script src="../angular.js"></script>
    <script src="cart.js"></script>
</head>

<body ng-controller="CartCtrl as cart">

    <div ng-repeat="item in cart.items">
        <span ng-bind="item.name"></span>
        <button ng-click="cart.delete($index)">
            Delete
        </button>
    </div>
    
</body>

</html>