<html ng-app='coolApp'>
  <head>
    <title>
      4 Two Controllers
    </title>
    <script src="../angular.js"></script>
    <script src="two-controllers.js" /></script>
  </head>
  <body>
    <p ng-controller='GreetCtrl as greeter'>
      Hi, {{greeter.greeting}}
      <input ng-model='greeter.greeting'>
    </p>
    <p ng-controller='GreetCtrl as greeter'>
      Hi, {{greeter.greeting}}
      <input ng-model='greeter.greeting'>
    </p>   
  </body>

</html>