<!doctype html>
<html ng-app="app">

<head>
	<meta charset="UTF-8">
	<title>Form</title>	
</head>

<body>

	<form ng-submit="requestFunding()" ng-controller="StartUpController">
		Starting:
		<input ng-change="computeNeeded()" ng-model="startingEstimate">
		<div>Recommendation: {{needed}}</div>
		<div>
			<button>Fund my startup!</button>
			<button ng-click="reset()">Reset</button>
		</div>
	</form>

    <script src="http://code.angularjs.org/1.2.16/angular.min.js"></script>
	<script src="app.js"></script>
</body>

</html>