<!DOCTYPE html>
<html>

<head>
    <title>6 Scope inheritance</title>
    <link rel="stylesheet" href="main.css" />
</head>

<body ng-app="coolApp">

    <div class="show-scope-demo">
        <div ng-controller="GreetCtrl">
            Hello {{name}}!
        </div>
        <div ng-controller="ListCtrl">
            <ol>
                <li ng-repeat="name in names">{{name}} from {{department}}</li>
            </ol>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="controllers.js"></script>

</body>

</html>