<!doctype html>
<html>

<head>
	<title>
		AngularJS - $index, $event, $log</title>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.3/css/foundation.min.css">
</head>

<body>
	<div ng-app="app">
		<div class="button" ng-repeat="item in 'anywords'.split('')" ng-click="$log.debug($event); ev = $event">
			{{$index + 1}}. {{item}} {{ev.pageX}}
		</div>
	</div>

	<script src="http://code.angularjs.org/1.2.18/angular.min.js"></script>
	<script src="script.js"></script>

</body>

</html>