<!doctype html>
<html>
  <head>
    <title>ngFilters</title>    
  </head>
<body>

<div class="container" ng-app="myApp">
<h1>ngFilters</h1>
  <hr>

  <div ng-controller="AvengersCtrl">
    <p>Search thru the table:</p>
    <!-- For all columns -->    
    All Columns <input type="text" ng-model="search.$">    
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Actor<br>
               <input type="text" ng-model="search.name">
          </th>
          <th>Character<br>
               <input type="text" ng-model="search.character">
          </th>
        </tr>
      </thead>
      <tr ng-repeat="actor in avengers.cast | filter:search">
        <td>{{actor.name}}</td>
        <td>{{actor.character}}</td>
      </tr>
    </table>
    
  </div>

</div>


<script src='../angular.js'></script>
<script type="text/javascript" src="controllers.js"></script>
</body>
</html>