<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Current Time</title>
</head>

<body ng-app="docsTimeDirective">
    <div ng-controller="Controller">
        Date format:
        <input ng-model="format">
        <hr/>Current time is:
        <span my-current-time="format"></span>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="main.js"></script>

</body>

</html>