<!DOCTYPE html>
<html ng-app="coolApp">

<head>
    <title>2 Hello AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
    <script src="hello.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>

<body>
    <p ng-controller="GreetController as greeter" class="jumbotron">
    	<input ng-model="greeter.greeting">
    	<br/>
        <span ng-bind="greeter.greeting"></span>        
    </p>
</body>

</html>