<!doctype html>
<html ng-app="app">

<head>
	<meta charset="UTF-8">
	<title>Zippy</title>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.3/css/foundation.min.css">
</head>

<body>

	<div ng-app="app">
		<input type="text" ng-model="model.title">
		<input type="text" ng-model="model.content">

		<zippy title="{{model.title}}">
			The content is: {{model.content}}
		</zippy>
	</div>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
	<script type="text/javascript" src="script.js"></script>
</body>

</html>