<!doctype html>
<html ng-app="invoice1">

<head>
	<script src="http://code.angularjs.org/1.2.4/angular.min.js"></script>
	<script src="invoice.js"></script>
	<link href="css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
	<div ng-controller="InvoiceController as invoice" class="well">
		<b>Invoice:</b>
		<div>
			Quantity:
			<input type="number" ng-model="invoice.qty" required>
		</div>
		<div>
			Costs:
			<input type="number" ng-model="invoice.cost" required>
			<select ng-model="invoice.inCurr">
				<option ng-repeat="c in invoice.currencies">{{c}}</option>
			</select>
		</div>
		<div>
			<b>Total:</b>
			<span ng-repeat="c in invoice.currencies">
				{{invoice.total(c) | currency:c}}
			</span>
			<button class="btn" ng-click="invoice.pay()">Pay</button>
		</div>
	</div>
</body>

</html>