<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>D2D Communication</title>
    <link rel="stylesheet" href="css/main.css" />
</head>

<body ng-app="docsTabsExample">
    <my-tabs>
        <my-pane title="Hello">
            <h4>Hello</h4>
            <p>Lorem ipsum dolor sit amet</p>
        </my-pane>
        <my-pane title="World">
            <h4>World</h4>
            <em>Mauris elementum elementum enim at suscipit.</em>
            <p>
                <a href ng-click="i = i + 1">counter: {{i || 0}}</a>
            </p>
        </my-pane>
    </my-tabs>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="script.js"></script>

</html>
