<!doctype html>
<html>

<head>
	<title>Directive To Directive Commonication</title>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
	<link href="css/main.css" rel="stylesheet" />
</head>

<body>

	<div ng-app="app">
		<div ng-controller='SomeController'>
			<accordion> 
				<expander class='expander' ng-repeat='expander in expanders' expander-title='expander.title'>
					{{expander.text}} 
				</expander> 
			</accordion>
		</div>
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js" ></script>
	<script type="text/javascript" src="main.js"></script>
</body>

</html>