<!doctype html>
<html lang="en" ng-app="myApp">

<head>
	<meta charset="utf-8" />
	<title>AngularJS Validation</title>		
	<link rel="stylesheet" href="main.css">
</head>

<body ng-controller="stageController">
	<form name="myForm" novalidate ng-submit="submitForm();">
		<h3>Basic example</h3>

		<div class="form-section">
			<p>Username:</p>
			<input type="text" name="username1" ng-model="username1" required />
			<input type="submit" ng-disabled="myForm.username1.$pristine || myForm.username1.$dirty && myForm.username1.$invalid">
			<div class="custom-error" ng-show="myForm.username1.$dirty && myForm.username1.$invalid">Invalid:
				<span ng-show="myForm.username1.$error.required">Username is required.</span>

			</div>
			<p>Email:</p>
			<input type="email" name="email1" ng-model="email1" required />
			<input type="submit" ng-disabled="myForm.email1.$pristine || myForm.email1.$dirty && myForm.email1.$invalid" />
			<div class="custom-error" ng-show="myForm.email1.$dirty && myForm.email1.$invalid">Invalid:
				<span ng-show="myForm.email1.$error.required">Email is required.</span>

				<span ng-show="myForm.email1.$error.email">Please, write a valid email address.</span>
			</div>
		</div>
	</form>
	
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
	<script src="script.js"></script>
	
</body>

</html>