<!DOCTYPE html>
<html>

<head>
    <title>6 Scope inheritance</title>
    <link rel="stylesheet" href="main.css" />
</head>

<body ng-app="coolApp" class="show-scope-demo">

    <input type="text" ng-model="message">
    <p>{{message}}</p>

    <div ng-controller="FirstCtrl">
        <input type="text" ng-model="message">
        <p>{{message}}</p>
    </div>

    <div ng-controller="SecondCtrl">
        <input type="text" ng-model="message">
        <p>{{message}}</p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="controllers.js"></script>

</body>

</html>